@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16D9E3;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
}

.primary {
  /* color: #16D9E3; */
  color: rgb(5, 113, 156);
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  /* overflow: hidden; */
}

.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.screen3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.screen3 h3 {
  margin-bottom: 20px;
}

.icanBetter {
  /* align-self: flex-start; */
  /* margin-top: -750px; */
  width: 5vw;
  height: 5.2vh;
  cursor: pointer;
  /* border: none; */
  border: 3px solid #d7b820e6, 4px solid #475462;
  padding: 5px;

  background: url('cute.png'), transparent;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  /* --------------------------------------- */
  /* border: 0.5rem outset pink; */
  outline: 0.5rem solid #d7b820e6;
  box-shadow: 0 0 0 2rem rgb(5, 113, 156);
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
}

.repl {
  /* align-self: flex-start; */

  font-size: 30px;
  font-family: Comforter;
  color: #d7b820e6;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
}

.repl2 {
  font-size: 40px;
  font-family: Comforter;
  color: #d7b820e6;
}

.quote {
  margin-top: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  /* border: 3px solid #d7b820e6; */
  background: url("reload.svg") no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;

  outline: 0.5rem solid #d7b820e6;
  /* box-shadow: 0 0 0 2rem rgb(5, 113, 156); */
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;

}